.hostNode {
	display: flex;
	width: 210px;
	height: 100%;
	background: rgb(236, 236, 236);
}

.scrollNode {
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
}

.headerNode {
	display: flex;
	padding: 8px;
	background: rgb(243, 243, 243);
	font-size: 12px;
	z-index: 1;
	border-top: 1px solid rgb(184, 184, 184);
	border-bottom: 1px solid rgb(184, 184, 184);

	&:first-of-type {
		border-top: none;
	}
}

.titleNode {
	flex: 1;
	display: flex;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
}

.bodyNode {
	padding: 8px;
	display: block;
}
