.hostNode {
	fill: none;
	cursor: default;
	pointer-events: stroke;

	path {
		stroke-linecap: round;
		transition: stroke .2s;
	}

	.displayNode {
		stroke-width: 3;
		stroke: rgba(255, 255, 255, 0.53);
	}

	.boundsNode {
		stroke-width: 17;
		stroke: transparent;
	}
}

.selected {
	.displayNode {
		stroke: rgb(0, 128, 183);
		stroke-dasharray: 10, 8;
		animation: displayNodeAnimation 1s linear infinite;
	}

	.boundsNode {
		stroke: rgba(0, 128, 183, 0.18);
	}
}

@keyframes displayNodeAnimation {
	0% {
		stroke-dashoffset: 36;
	}

	to {
		stroke-dashoffset: 0;
	}
}
