.hostNode {
	pointer-events: fill;

	.displayNode {
		fill: rgba(255, 255, 255, 0.5);
		transition: r .2s, fill .2s;
	}

	.boundsNode {
		cursor: default;
		fill: rgba(0, 128, 183, 0.2);
		fill-opacity: 0;
		transition: fill-opacity .2s;
	}
}

.selected {
	.displayNode {
		fill: rgb(0, 128, 183);
	}

	.boundsNode {
		fill-opacity: 1;
	}
}
